.bookmark {
    border: solid 5px black;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    .button {
        background-color: rgba(26, 204, 44, 0.8);
        text-transform: uppercase;
        cursor: pointer;
        color: ghostwhite;
        padding: 0.25rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        display: inline-block;
        margin: 1rem;
        margin-left: 1rem;
        border: 2px solid black;
        box-shadow: 0 2px 5px rgba(23, 5, 58, 0.5);
    }
    /*?WHY isn't my link color updating*/
    .link {
        color: whitesmoke;
    }

}
